<!DOCTYPE html>
<html>
    {% include "html_head.twig" with {'title' : 'Groups' } %}
    <body>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Groups</li>
          </ol>
        </nav>
        <div class="card-columns" style="margin:20px 100px">
        {% for group in data %}
        <div class="card">
            <a target="_blank" href="{{ group.image[0] }}"><img class="card-img-top" src='{{ group.image[0] }}' width=100%></a>
          <div class="card-body">
            <h4 class="card-title text-truncate"><a class="card-link" href="/groups/{{group.name.simple}}">{{group.name.normal}}</a> {% if group.name.alt %}<small class="text-muted card-subtitle">{{group.name.alt}}</small>{% endif %}</h4>
            
            <p class="card-text text-truncate"><strong>Debut: </strong>{{group.debut}}</p>
            <a class="card-link btn btn-success" target="_blank" href="{{group.website}}">WEBSITE</a>
            {% if group.sns.twitter %}
            <a class="card-link btn btn-primary" target="_blank" href="{{group.sns.twitter}}">TWITTER</a>
            {% endif %}
            {% if group.sns.youtube %}
            <a class="card-link btn btn-danger" target="_blank" href="{{group.sns.youtube}}">YOUTUBE</a><br>
            {% endif %}
            <a class="card-link btn btn-dark" href="/groups/{{group.name.simple}}/members">Members</a>
            <a class="card-link btn btn-dark" href="/groups/{{group.name.simple}}/singles">Singles</a>
          </div>
        </div>
        {% endfor %}
        </div>
    </body>
</html>