<!DOCTYPE html>
<html>
    {% include "html_head.twig" with {'title' : group.name.normal } %}
    <body>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/groups">Groups</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{group.name.normal}}</li>
          </ol>
        </nav>

        <div class="card" style="margin:10px 100px">
            <div class="card-body">
              <h2 class="display-4 card-title">{{group.name.normal}}</h2>
              <h3 class="card-subtitle text-muted mb-2">{{group.name.alt}}</h3>
              <p class="card-text"><strong>Debut: </strong>{{group.debut}}</p>
              <a class="card-link btn btn-success" target="_blank" href="{{group.website}}">WEBSITE</a>
            {% if group.sns.twitter %}
              <a class="card-link btn btn-primary" target="_blank" href="{{group.sns.twitter}}">TWITTER</a>
            {% endif %}
            {% if group.sns.youtube %}
              <a class="card-link btn btn-danger" target="_blank" href="{{group.sns.youtube}}">YOUTUBE</a><br>
            {% endif %}
              <a class="card-link btn btn-dark" href="/groups/{{group.name.simple}}/members">Members</a>
              <a class="card-link btn btn-dark" href="/groups/{{group.name.simple}}/singles">Singles</a>
            </div>
            {% for img in group.image %}
            <a target="_blank" href="{{group.image[loop.index - 1]}}"><img src='{{group.image[loop.index - 1]}}' width=100%></a>
            {% endfor %}
        </div>
    </body>
</html>