<!DOCTYPE html>
<html>
    {% include 'html_head.twig' with {'title' : 'APIdol' } %}
    <body>
        <h1 class="display-1">APIdol</h1>
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for group in data %}
                {% if loop.index == 1 %}
                <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                {% endif %}
                    <img onclick="location.href='/groups'" class="d-block w-100" src="{{ random(group.image) }}" alt="" style="cursor:pointer">
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>