<!DOCTYPE html>
<html>
    {% include "html_head.twig" with {'title' : member.name.r } %}
    <body>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/groups">Groups</a></li>
            <li class="breadcrumb-item"><a href="/groups/{{group}}">{{groupnormal}}</a></li>
            <li class="breadcrumb-item"><a href="/groups/{{group}}/members">Members</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{member.name.r}}</li>
          </ol>
        </nav>

        <div class="card mb-3" style="margin:10px 100px">
          <div class="row no-gutters">
            <div class="col-md-4">
              <a target="_blank" href="{{member.image[0]}}"><img class="card-img" src="{{member.image[0]}}"></a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2>
                    {% if member.surname.r %}{{member.surname.r}},{% endif %} {{member.name.r}}<br>
                    {{member.surname.k}} {{member.name.k}}<br>
                    <small class="text-muted">{{member.surname.f}} {{member.name.f}}</small>
                </h2>
                {% if member.birthdate %}
                <p><strong>Born: </strong>{{member.birthdate}}</p>
                {% endif %}
                {% if member.birthplace.city or member.birthplace.country %}
                <p><strong>Birthplace: </strong>{{member.birthplace.city}}, {{member.birthplace.country}}</p>
                {% endif %}
                {% if member.height %}
                <p><strong>Height: </strong>{{member.height}}cm</p>
                {% endif %}
                {% if member.joined or member.graduated %}
                <p><strong>Years Active: </strong>{{member.joined}}-{% if member.graduated == "" %}present{% else %}{{member.graduated}}{% endif %}</p>
                {% endif %}
                {% if member.blood_type %}
                <p><strong>Blood Type: </strong>{{member.blood_type}}</p>
                {% endif %}
                {% if member.zodiac_sign %}
                <p><strong>Zodiac Sign: </strong>{{member.zodiac_sign}}</p>
                {% endif %}
                <p><strong>
                {% if member.sns.showroom %}
                    <a target="_blank" href="{{member.sns.showroom}}">SHOWROOM</a><br>
                {% endif %}
                {% if member.sns.twitter %}
                    <a target="_blank" href="{{member.sns.twitter}}">TWITTER</a><br>
                {% endif %}
                {% if member.sns.instagram %}
                    <a target="_blank" href="{{member.sns.instagram}}">INSTAGRAM</a>
                {% endif %}
                </strong></p>
              </div>
            </div>
          </div>
        </div>

        {% if member.trivia %}
        <div class="card" style="margin:10px 100px">
            <div class="card-body">
                <h1>Trivia</h1>
                <ul>
                    {% for a in member.trivia %}
                    <li>
                        {{a}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <div class="card" style="margin:10px 100px">
            <div class="card-body">
                <h3 class="card-title">Gallery</h3>
                {% for img in member.image %}
                <a target="_blank" href="{{img}}"><img class="mb-2" src='{{img}}' width=20%></a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>