<!DOCTYPE html>
<html>
    {% include "html_head.twig" with {'title' : 'Members' } %}
    <body>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/groups">Groups</a></li>
            <li class="breadcrumb-item"><a href="/groups/{{group}}">{{groupnormal}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Members</li>
          </ol>
        </nav>
        <table class="table table-striped table-collapse">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Born</th>
                <th>Birthplace</th>
                <th>Height</th>
                <th>Years Active</th>
                <th>Blood Type</th>
                <th>Zodiac Sign</th>
            </tr>
            {% for member in data %}
            <tr>
                <td style="width:1%">
                    <a target="_blank" href="{{ random(member.image) }}"><img height=110 src="{{ random(member.image) }}"></a>
                </td>
                <td>
                    <a class="card-link" href="/groups/{{group}}/members/{{member.surname.r}}_{{member.name.r}}">
                    {% if member.surname.r %}{{member.surname.r}},{% endif %} {{member.name.r}}
                    <br>
                    {{member.surname.k}} {{member.name.k}}
                    <br>
                    <small class="text-muted">
                        {{member.surname.f}} {{member.name.f}}
                    </small>
                    <br>
                    </a>
                </td>
                <td>
                    {{member.birthdate|default('Unknown')}}
                </td>
                <td>
                {% if member.birthplace.city or member.birthplace.country %}
                    {{member.birthplace.city}}, {{member.birthplace.country}}
                {% else %}
                ??
                {% endif %}
                </td>
                <td>
                    {% if member.height %}
                    {{member.height}}cm
                    {% else %}
                    Unknown
                    {% endif %}
                </td>
                <td>
                    {{member.joined}}-{{member.graduated|default('present')}}
                </td>
                <td>
                    {{member.blood_type|default('Unknown')}}
                </td>
                <td>
                    {{member.zodiac_sign|default('Unknown')}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>