<!DOCTYPE html>
<html>
    {% include "html_head.twig" with {'title' : data.name } %}
    <body>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/groups">Groups</a></li>
            <li class="breadcrumb-item"><a href="/groups/{{group}}">{{groupnormal}}</a></li>
            <li class="breadcrumb-item"><a href="/groups/{{group}}/singles">Singles</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{data.name}}</li>
          </ol>
        </nav>

        <div class="card mb-3" style="margin:10px 100px">
          <div class="row no-gutters">
            <div class="col-md-4">
              <a target="_blank" href="{{data.image}}"><img class="card-img" src="{{data.image}}" width=360vw></a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2>{{data.name}}</h2>
                <hr>
                <p><strong>Released: </strong>{{data.release}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card" style="margin:10px 100px">
          <div class="card-body">
            <p><strong>Tracks: </strong></p>
            {% for track in data.tracklist %}
            <ul>
                <li>{{track.name}} ({{track.duration}}) {% if track.video %}<button class="btn btn-secondary btn-sm" onclick="playVideo('{{track.video}}')" data-toggle="modal" data-target=".bd-example-modal-lg">Music Video</button>{% endif %}</li>
            </ul>
            {% endfor %}
          </div>
        </div>
        

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" onclick="stopVideo()">
          <div class="modal-dialog modal-lg" id="iframe">
            
          </div>
        </div>

    </body>
    <script>
        function playVideo(url){
            let ext=url.split("watch?v=");
            document.getElementById("iframe").innerHTML='<iframe class="modal-content" height="450" src="https://www.youtube.com/embed/'+ext[1]+'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
        }
        function stopVideo(){
          document.getElementById("iframe").innerHTML="";
        }
    </script>
</html>