<!DOCTYPE html>
<html>
    {% include "html_head.twig" with {'title' : 'Singles' } %}
    <body>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/groups">Groups</a></li>
            <li class="breadcrumb-item"><a href="/groups/{{group}}">{{groupnormal}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Singles</li>
          </ol>
        </nav>
        <div class="row" style="margin:20px 100px">
        {% for single in data %}
          <div class="col-sm-4">
            <div class="card">
              <a target="_blank" href="{{single.image}}"><img width=100% src="{{single.image}}"></a>
              <div class="card-body text-nowrap">
                <h3 class="card-title text-truncate">{{single.name}}</h3>
                <p class="card-text text-truncate"><strong>Release: </strong>{{single.release}}</p>
                <p class="card-text text-truncate"><strong>Tracks: </strong></p>
                <p class="card-text text-truncate">
                    {% for track in single.tracklist %}
                        {{track.track_num}}. {{track.name}} ({{track.duration}})
                        <br>
                    {% endfor %}
                </p>
                <a class="btn btn-primary" href="/groups/{{group}}/singles/{{single.num}}">Info</a>
              </div>
            </div>
          </div>
          {% if loop.index is divisible by (3) and not loop.last %}
            </div>
            <div class="row" style="margin:20px 100px">
          {% endif %}
          {% if loop.last %}
            </div> {# close last row #}
          {% endif %}
        {% endfor %}
        </div>
    </body>
</html>